/* keep your sizing tweaks */
.md-header {
  --md-header-height: 75px !important;
  min-height: 75px !important;
  align-items: center;
}

.md-header__button.md-logo img {
  max-height: none !important;
  height: 65px !important;
  width: auto !important;
}

.md-header-nav {
  top: var(--md-header-height) !important;
}
